# python stuff
__pycache__
*/__pycache__

# macos stuff
.DS_Store

build/*
install/*
log
workspace/src/sensors/sensors/datalogs
workspace/src/sensors/sensors/datalogs-old
workspace/src/sensors/sensors/serverconf.py
**datalogs.zip
workspace/src/sensors/sensors/datalogs_auto
workspace/src/sensors/sensors/old_datalogs
